In [61]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (2.0.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (2.2.3)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy>=1.22.4 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [62]:
import numpy as np
import pandas as pd

In [63]:
data = pd.read_csv("laptop_price.csv" , encoding='latin-1')

In [64]:
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [65]:
data.shape

(1303, 12)

In [66]:
data.isnull().sum()

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 122.3+ KB

In [68]:
data['Ram'] = data['Ram'].str.replace('GB','').astype('int32')
data['Weight'] = data['Weight'].str.replace('kg','').astype('float32')

In [69]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,macOS,1.34,898.94

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   int32
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   float32
 11  Price_euros       1303 non-null   float64
dtypes: float32(1), float64(2), int32(1), int64(1), object(7)
memory usage: 112.1+ KB

In [71]:
print(data.dtypes)

laptop_ID             int64
Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                   int32
Gpu                  object
OpSys                object
Weight              float32
Price_euros         float64
dtype: object

In [72]:
len(data['Company'].value_counts())

19

In [73]:
def add_company(inpt):
    if inpt in ['Samsung', 'Razer', 'Mediacom', 'Microsoft', 'Xiaomi', 
                'Vero', 'Chuwi', 'Google', 'Fujitsu', 'LG', 'Huawei']:
        return 'Other'
    else:
        return inpt

data['Company'] = data['Company'].apply(add_company)

In [74]:
(data['Company'].value_counts())

Company
Dell       297
Lenovo     297
HP         274
Asus       158
Acer       103
MSI         54
Other       51
Toshiba     48
Apple       21
Name: count, dtype: int64

In [75]:
len(data['Product'].value_counts())

618

In [76]:
(data['TypeName'].value_counts())

TypeName
Notebook              727
Gaming                205
Ultrabook             196
2 in 1 Convertible    121
Workstation            29
Netbook                25
Name: count, dtype: int64

In [77]:
(data['ScreenResolution'].value_counts())

ScreenResolution
Full HD 1920x1080                                507
1366x768                                         281
IPS Panel Full HD 1920x1080                      230
IPS Panel Full HD / Touchscreen 1920x1080         53
Full HD / Touchscreen 1920x1080                   47
1600x900                                          23
Touchscreen 1366x768                              16
Quad HD+ / Touchscreen 3200x1800                  15
IPS Panel 4K Ultra HD 3840x2160                   12
IPS Panel 4K Ultra HD / Touchscreen 3840x2160     11
4K Ultra HD / Touchscreen 3840x2160               10
IPS Panel 1366x768                                 7
Touchscreen 2560x1440                              7
4K Ultra HD 3840x2160                              7
IPS Panel Retina Display 2304x1440                 6
IPS Panel Retina Display 2560x1600                 6
Touchscreen 2256x1504                              6
IPS Panel Quad HD+ / Touchscreen 3200x1800         6
IPS Panel Touchscreen 2560x1440                    5
IPS Panel Retina Display 2880x1800                 4
1440x900                                           4
IPS Panel Touchscreen 1920x1200                    4
IPS Panel 2560x1440                                4
IPS Panel Quad HD+ 2560x1440                       3
IPS Panel Touchscreen 1366x768                     3
Quad HD+ 3200x1800                                 3
1920x1080                                          3
2560x1440                                          3
Touchscreen 2400x1600                              3
IPS Panel Quad HD+ 3200x1800                       2
IPS Panel Full HD 2160x1440                        2
IPS Panel Touchscreen / 4K Ultra HD 3840x2160      2
IPS Panel Full HD 1366x768                         1
Touchscreen / Quad HD+ 3200x1800                   1
IPS Panel Retina Display 2736x1824                 1
IPS Panel Full HD 2560x1440                        1
IPS Panel Full HD 1920x1200                        1
Touchscreen / Full HD 1920x1080                    1
Touchscreen / 4K Ultra HD 3840x2160                1
IPS Panel Touchscreen 2400x1600                    1
Name: count, dtype: int64

In [78]:
data['Touchscreen']=data['ScreenResolution'].apply(lambda x:1 if 'Touchscreen' in x else 0)
data['Ips']=data['ScreenResolution'].apply(lambda x:1 if 'IPS' in x else 0)

In [79]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Touchscreen,Ips
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,0,1
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,macOS,1.34,898.94,0,0

In [80]:
len(data['Cpu'].value_counts())

118

In [81]:
data['cpu_name'] = data['Cpu'].apply(lambda x: " ".join(x.split()[0:3]))

In [82]:
data['cpu_name'].value_counts()

cpu_name
Intel Core i7               527
Intel Core i5               423
Intel Core i3               136
Intel Celeron Dual           80
Intel Pentium Quad           27
Intel Core M                 19
AMD A9-Series 9420           12
AMD A6-Series 9220            8
Intel Celeron Quad            8
AMD A12-Series 9720P          7
Intel Atom x5-Z8350           5
AMD A8-Series 7410            4
Intel Atom x5-Z8550           4
AMD A9-Series 9410            3
Intel Pentium Dual            3
AMD Ryzen 1700                3
AMD A9-Series A9-9420         2
AMD E-Series E2-9000e         2
AMD A10-Series A10-9620P      2
AMD A6-Series A6-9220         2
AMD E-Series 7110             2
AMD A10-Series 9620P          2
AMD A10-Series 9600P          2
Intel Xeon E3-1505M           2
Intel Xeon E3-1535M           2
Intel Atom X5-Z8350           2
Intel Atom x5-Z8300           1
AMD E-Series 6110             1
AMD E-Series 9000e            1
AMD E-Series E2-6110          1
AMD FX 9830P                  1
AMD Ryzen 1600                1
Intel Atom Z8350              1
AMD A6-Series 7310            1
AMD E-Series E2-9000          1
AMD A12-Series 9700P          1
AMD FX 8800P                  1
AMD A4-Series 7210            1
Samsung Cortex A72&A53        1
AMD E-Series 9000             1
Name: count, dtype: int64

In [83]:
def set_processor(name):
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'

data['cpu_name'] = data['cpu_name'].apply(set_processor)

In [84]:
data['cpu_name'].value_counts()

cpu_name
Intel Core i7    527
Intel Core i5    423
Other            155
Intel Core i3    136
AMD               62
Name: count, dtype: int64

In [86]:
len(data['Gpu'].value_counts())

110

In [87]:
data['gpu_name'] = data['Gpu'].apply(lambda x: " ".join(x.split()[0:1]))

In [88]:
data['gpu_name'].value_counts()

gpu_name
Intel     722
Nvidia    400
AMD       180
ARM         1
Name: count, dtype: int64

In [91]:
data.shape

(1303, 16)

In [92]:
data = data[data['gpu_name'] != 'ARM']

In [93]:
data.shape

(1302, 16)

In [94]:
data['OpSys'].value_counts()

OpSys
Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         26
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [98]:
def set_os(inpt):
    if inpt == 'Windows 10' or inpt == 'Windows 7' or inpt == 'Windows 10 S':
        return 'Windows'
    elif inpt == 'macOS' or inpt == 'Mac OS X':
        return 'Mac'
    elif inpt == 'Linux':
        return inpt
    else:
        return 'Other'

data['OpSys'] = data['OpSys'].apply(set_os)

In [99]:
data['OpSys'].value_counts()

OpSys
Windows    1125
Other        94
Linux        62
Mac          21
Name: count, dtype: int64

In [101]:
data = data.drop(columns=['laptop_ID','Inches', 'Product', 'ScreenResolution', 'Cpu' , 'Gpu'])

In [102]:
data.head()

,Company,TypeName,Ram,OpSys,Weight,Price_euros,Touchscreen,Ips,cpu_name,gpu_name
0,Apple,Ultrabook,8,Mac,1.37,1339.69,0,1,Intel Core i5,Intel
1,Apple,Ultrabook,8,Mac,1.34,898.94,0,0,Intel Core i5,Intel
2,HP,Notebook,8,Other,1.86,575.00,0,0,Intel Core i5,Intel
3,Apple,Ultrabook,16,Mac,1.83,2537.45,0,1,Intel Core i7,AMD
4,Apple,Ultrabook,8,Mac,1.37,1803.60,0,1,Intel Core i5,Intel

In [103]:
data = pd.get_dummies(data)

In [104]:
data.head(2)

,Ram,Weight,Price_euros,Touchscreen,Ips,Company_Acer,Company_Apple,Company_Asus,Company_Dell,Company_HP,...,OpSys_Other,OpSys_Windows,cpu_name_AMD,cpu_name_Intel Core i3,cpu_name_Intel Core i5,cpu_name_Intel Core i7,cpu_name_Other,gpu_name_AMD,gpu_name_Intel,gpu_name_Nvidia
0,8,1.37,1339.69,0,1,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False
1,8,1.34,898.94,0,0,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [105]:
data = data.astype(int)  # Converts True to 1 and False to 0

In [106]:
data.head(2)

,Ram,Weight,Price_euros,Touchscreen,Ips,Company_Acer,Company_Apple,Company_Asus,Company_Dell,Company_HP,...,OpSys_Other,OpSys_Windows,cpu_name_AMD,cpu_name_Intel Core i3,cpu_name_Intel Core i5,cpu_name_Intel Core i7,cpu_name_Other,gpu_name_AMD,gpu_name_Intel,gpu_name_Nvidia
0,8,1,1339,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,8,1,898,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [107]:
data.shape

(1302, 32)

In [108]:
x = data.drop('Price_euros', axis=1)
y = data['Price_euros']

In [114]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp310-cp310-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.14.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp310-cp310-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
    --------------------------------------- 0.3/11.1 MB ? eta -:--:--
    --------------------------------------- 0.3/11.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.1 MB 762.0 kB/s eta 0:00:14
   - -------------------------------------- 0.5/11.1 MB 762.0 kB/s eta 0:00:14
   -- ------------------------------------- 0.8/11.1 MB 763.2 kB/s eta 0:00:14
   -- ------------------------------------- 0.8/11.1 MB 763.2 kB/s eta 0:00:14
   --- ------------------------------------ 1.0/11.1 MB 718.9 kB/s eta 0:00:15
   ---- ----------------------------------- 1.3/11.1 MB 762.6 kB/s eta 0:00:13
   ---- ----------------------------------- 1.3/11.1 MB 762.6 kB/s eta 0:00:13
   ----- ---------------------------------- 1.6/11.1 MB 755.9 kB/s eta 0:00:13
   ------ --------------------------------- 1.8/11.1 MB 762.8 kB/s eta 0:00:13
   ------ --------------------------------- 1.8/11.1 MB 762.8 kB/s eta 0:00:13
   ------ --------------------------------- 1.8/11.1 MB 762.8 kB/s eta 0:00:13
   ------- -------------------------------- 2.1/11.1 MB 682.9 kB/s eta 0:00:14
   ------- -------------------------------- 2.1/11.1 MB 682.9 kB/s eta 0:00:14
   -------- ------------------------------- 2.4/11.1 MB 688.3 kB/s eta 0:00:13
   --------- ------------------------------ 2.6/11.1 MB 712.3 kB/s eta 0:00:12
   --------- ------------------------------ 2.6/11.1 MB 712.3 kB/s eta 0:00:12
   ---------- ----------------------------- 2.9/11.1 MB 739.1 kB/s eta 0:00:12
   ----------- ---------------------------- 3.1/11.1 MB 747.2 kB/s eta 0:00:11
   ------------ --------------------------- 3.4/11.1 MB 756.9 kB/s eta 0:00:11
   ------------ --------------------------- 3.4/11.1 MB 756.9 kB/s eta 0:00:11
   ------------- -------------------------- 3.7/11.1 MB 760.0 kB/s eta 0:00:10
   ------------- -------------------------- 3.7/11.1 MB 760.0 kB/s eta 0:00:10
   -------------- ------------------------- 3.9/11.1 MB 748.1 kB/s eta 0:00:10
   -------------- ------------------------- 3.9/11.1 MB 748.1 kB/s eta 0:00:10
   --------------- ------------------------ 4.2/11.1 MB 749.0 kB/s eta 0:00:10
   ---------------- ----------------------- 4.5/11.1 MB 751.9 kB/s eta 0:00:09
   ---------------- ----------------------- 4.7/11.1 MB 768.8 kB/s eta 0:00:09
   ---------------- ----------------------- 4.7/11.1 MB 768.8 kB/s eta 0:00:09
   ----------------- ---------------------- 5.0/11.1 MB 772.4 kB/s eta 0:00:08
   ------------------ --------------------- 5.2/11.1 MB 777.5 kB/s eta 0:00:08
   ------------------ --------------------- 5.2/11.1 MB 777.5 kB/s eta 0:00:08
   ------------------- -------------------- 5.5/11.1 MB 766.1 kB/s eta 0:00:08
   ------------------- -------------------- 5.5/11.1 MB 766.1 kB/s eta 0:00:08
   -------------------- ------------------- 5.8/11.1 MB 762.6 kB/s eta 0:00:08
   --------------------- ------------------ 6.0/11.1 MB 764.2 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.1 MB 764.2 kB/s eta 0:00:07
   ---------------------- ----------------- 6.3/11.1 MB 767.2 kB/s eta 0:00:07
   ----------------------- ---------------- 6.6/11.1 MB 772.8 kB/s eta 0:00:06
   ----------------------- ---------------- 6.6/11.1 MB 772.8 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.1 MB 765.4 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.1 MB 765.4 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.1 MB 758.7 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.1 MB 758.7 kB/s eta 0:00:06
   -------------------------- ------------- 7.3/11.1 MB 758.8 kB/s eta 0:00:05
   --------------------------- ------------ 7.6/11.1 MB 757.7 kB/s eta 0:00:05
   --------------------------- ------------ 7.6/11.1 MB 757.7 kB/s eta 0:00:05
   ---------------------------- ----------- 7.9/11.1 MB 760.2 kB/s eta 0:00:05
   ---------------------------- ----------- 7.9/11.1 MB 760.2 kB/s eta 0:00:05
   ----------------------------- ---------- 8.1/11.1 MB 751.2 kB/s eta 0:00:04
   ------------------------------ --------- 8.4/11.1 MB 750.5 kB/s eta 0:00:04
   ------------------------------ --------- 8.4/11.1 MB 750.5 kB/s eta 0:00:04
   ------------------------------ --------- 8.4/11.1 MB 750.5 kB/s eta 0:00:04
   ------------------------------ --------- 8.4/11.1 MB 750.5 kB/s eta 0:00:04
   ------------------------------ --------- 8.4/11.1 MB 750.5 kB/s eta 0:00:04
   ------------------------------- -------- 8.7/11.1 MB 708.3 kB/s eta 0:00:04
   ------------------------------- -------- 8.7/11.1 MB 708.3 kB/s eta 0:00:04
   ------------------------------- -------- 8.7/11.1 MB 708.3 kB/s eta 0:00:04
   -------------------------------- ------- 8.9/11.1 MB 700.8 kB/s eta 0:00:04
   -------------------------------- ------- 8.9/11.1 MB 700.8 kB/s eta 0:00:04
   -------------------------------- ------- 9.2/11.1 MB 689.7 kB/s eta 0:00:03
   -------------------------------- ------- 9.2/11.1 MB 689.7 kB/s eta 0:00:03
   -------------------------------- ------- 9.2/11.1 MB 689.7 kB/s eta 0:00:03
   --------------------------------- ------ 9.4/11.1 MB 677.3 kB/s eta 0:00:03
   --------------------------------- ------ 9.4/11.1 MB 677.3 kB/s eta 0:00:03
   --------------------------------- ------ 9.4/11.1 MB 677.3 kB/s eta 0:00:03
   ---------------------------------- ----- 9.7/11.1 MB 669.6 kB/s eta 0:00:03
   ---------------------------------- ----- 9.7/11.1 MB 669.6 kB/s eta 0:00:03
   ---------------------------------- ----- 9.7/11.1 MB 669.6 kB/s eta 0:00:03
   ----------------------------------- ---- 10.0/11.1 MB 655.5 kB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.1 MB 655.5 kB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.1 MB 655.5 kB/s eta 0:00:02
   ------------------------------------ --- 10.2/11.1 MB 643.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.2/11.1 MB 643.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.2/11.1 MB 643.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.2/11.1 MB 643.3 kB/s eta 0:00:02
   ------------------------------------- -- 10.5/11.1 MB 632.2 kB/s eta 0:00:02
   ------------------------------------- -- 10.5/11.1 MB 632.2 kB/s eta 0:00:02
   -------------------------------------- - 10.7/11.1 MB 630.1 kB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 630.1 kB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 629.3 kB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 629.3 kB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 621.3 kB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [117]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [118]:
x_train.shape, x_test.shape

((976, 31), (326, 31))

In [119]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [121]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model_acc(rf)

LinearRegression() --> 0.6884597392027663
Lasso() --> 0.6910599609068977
DecisionTreeRegressor() --> 0.6602278507341305
RandomForestRegressor() --> 0.7790668329804582

In [ ]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10, 50, 100],
              'criterion':['squared_error','absolute_error','poisson']}

grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)

grid_fit = grid_obj.fit(x_train, y_train)

best_model = grid_fit.best_estimator_
best_model